&nbsp;&nbsp; jql запрос <br>
<textarea ng-model="query" style="width: 100%; height: 100px"></textarea> <br>
&nbsp;&nbsp; разделители для степов <br>
<textarea ng-model="steps_Delimiters" style="width: 100%; height: 100px"></textarea> <br>
&nbsp;&nbsp; разделители для экспектед резалтов <br>
<textarea ng-model="er_Delimiters" style="width: 100%; height: 100px"></textarea> <br>
<button ng-click="findIssues()">Go</button> <br>

<table border="1" width="100%" ng-if="jout.issues">
    <thead>
        <td><b>#</b></td>
        <td><b>Steps</b></td>
        <td><b>Expected Result</b></td>
        <td><b>Cross-browser</b></td>
        <td><b>ID</b></td>
    </thead>
    <tbody>
        <tr ng-repeat="issue in jout.issues">
            <td></td>
            <td ng-bind="getSteps(issue.fields.description)"></td>
            <td>{{getERs(issue.fields.description)}}</td>
            <td>{{issue.fields.customfield_13342.value}}</td>
            <td>{{issue.key}}</td>
        </tr>
    </tbody>
</table>