<div class="container">
	<div class="well">
		<div class="row">
			<h4>{{issue.fields.issuetype.name}} {{issue.key}}</h4>
		</div>

		<div class="row">
			<div class="form-group">
				<label>Summary</label>
				<input type="text" class="form-control" ng-model="issue.fields.summary">
			</div>
		</div>

		<div class="row">
			<div class="form-group">
				<label>Description</label>
				<textarea class="form-control description" rows="10" ng-model="issue.fields.description"></textarea>
			</div>
		</div>

		<div class="row">
			<label>Subtasks</label>
			<ul class="list-group">
				<li class="list-group-item list-group-item-{{getSubtaskStyle(subtask)}}" ng-repeat="subtask in issue.fields.subtasks | filter:subtasksfilter">{{ subtask.fields.summary }}</li>
			</ul>
		</div>
	</div>

	<!-- subtask here -->

	<div id="subtask{{$index}}" class="well subtask" ng-repeat="subtask in subtasks">
		<button class="btn btn-danger deleteButton" ng-click="removeSubtask()"><span class="glyphicon glyphicon-remove"></span></button>
		<div class="row">
			<h4>New Subtask {{subtask.fields.__saved ? '. ' + subtask.fields.__statusText + ' ' + subtask.fields.__key : ''}}</h4>
		</div>

		<div class="row">
			<div class="form-group">
				<label>Summary</label>
				<div class="input-group">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{subtask.fields.__type}}<span class="caret"></span></button>
						<ul class="dropdown-menu dropdown-menu-left" role="menu">
							<li><a href="#" ng-click="changeTaskType('[tc] ')" onclick="return false;">[tc]</a></li>
							<li><a href="#" ng-click="changeTaskType('[test] ')" onclick="return false;">[test]</a></li>
							<li><a href="#" ng-click="changeTaskType('[req] ')" onclick="return false;">[req]</a></li>
							<li><a href="#" ng-click="changeTaskType('[auto] ')" onclick="return false;">[auto]</a></li>
						</ul>
					</div>
					<input type="text" class="form-control" ng-model="subtask.fields.summary">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group">
				<label>Description</label>
				<textarea class="form-control description" rows="5" ng-model="subtask.fields.description"></textarea>
			</div>
		</div>

		<div class="row">
			<div class="form-group">
				<label>Estimate</label>
				<input type="text" class="form-control col-xs-2" ng-model="subtask.fields.originalEstimate">
			</div>
		</div>
	</div>

	<button class="btn btn-primary col-xs-2" ng-click="addSubtask()"><span class="glyphicon glyphicon-plus"></span> Add another</button>
	<button class="btn btn-primary col-xs-2 col-xs-offset-8" ng-click="save()"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
	<progressbar id="progress" class="progress-striped active" max="reqs" value="resps" type="danger"><i>{{resps}} / {{reqs}}</i></progressbar>
</div>