<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label>JQL query</label>
				<textarea class="form-control" rows="3" ng-model="query"></textarea>
			</div>
			<div class="form-group">
				<label>Quick filter</label>
				<input class="form-control" type="text" ng-model="resFilter.include">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<button class="btn btn-primary col-xs-5 col-md-3" ng-click="findIssues()">Draw a table</button>
			<button class="btn btn-default col-xs-5 col-xs-offset-2 col-md-3 col-md-offset-6" ng-click="toggleShowSettings()">Settings</button>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<br>
			<p class="text-success" ng-if="jout.total">Shown {{jout.issues.length}} of {{jout.total}} issues</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="form-group" ng-show="showSettings">
				<br>
				<label>Delimiters for steps</label>
				<textarea class="form-control" rows="5" ng-model="steps_Delimiters"></textarea> <br>

				<label>Delimiters for expected results</label>
				<textarea class="form-control" rows="5" ng-model="er_Delimiters"></textarea> <br>

				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="hideNumbers"> Hide numbers
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="hidePreconditions"> Hide preconditions column
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="hideSummary"> Hide summary column
					</label>
				</div>
			</div>
			<br>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<span ng-if="jout.issues">
			<b>List of issues' keys presented in table. You can use it for bulk linking to main Test Case</b>
		</span>
			<br>
			<span ng-repeat="issue in jout.issues | filter:resFilter.include">{{issue.key}}&nbsp;</span>
		</div>
	</div>
	<div class="row">
		<table border="1" width="100%" ng-if="jout.issues">
			<thead>
				<td><b>#</b></td>
				<td ng-if="!hideSummary"><b>Summary</b></td>
				<td ng-if="!hidePreconditions"><b>Preconditions</b></td>
				<td><b>Steps</b></td>
				<td><b>Expected Result</b></td>
				<td><b>Comment/Post-condition</b></td>
				<td><b>Issue key</b></td>
			</thead>
			<tbody>
				<tr ng-repeat="issue in jout.issues | filter:resFilter.include">
					<td>
						<div ng-if="!hideNumbers">{{$index + 1}}</div>
					</td>
					<td ng-if="!hideSummary">
						{{issue.fields.summary}}
					</td>
					<td ng-if="!hidePreconditions">
						<div ng-repeat="pr_line in getPreconditions(issue.fields.description).split('\n') track by $index">{{pr_line}}</div>
					</td>
					<td>
						<div ng-repeat="st_line in getSteps(issue.fields.description).split('\n') track by $index">{{st_line}}</div>
					</td>
					<td>
						<div ng-repeat="er_line in getERs(issue.fields.description).split('\n') track by $index">{{er_line}}</div>
					</td>
					<td>
						<div ng-if="issue.fields.customfield_13342.value == 'Yes'">Cross-browser</div>
					</td>
					<td>{{issue.key}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>